<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MealPlannerUI</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="paginated-products">
                <span class="oi oi-list" aria-hidden="true"></span> Products
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="findproduct">
                <iconify-icon icon="mdi:magnify" width="30" height="30"></iconify-icon>Find product
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="addproduct">
                <span class="oi oi-plus" aria-hidden="true"></span> Add simple product
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="create-custom-product">
                <iconify-icon icon="game-icons:meal" width="30" height="30"></iconify-icon>Add custom product
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="show-meals-for-day">
                <iconify-icon icon="mdi:dinner" width="30" height="30"></iconify-icon>Show meals for day
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="plan-meals">
                <iconify-icon icon="game-icons:hot-meal" width="30" height="30"></iconify-icon>Plan your meals
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="user-preferences">
                <iconify-icon icon="material-symbols:person" width="30" height="30"></iconify-icon>User preferences
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="underconstruction">
                <iconify-icon icon="bi:book" width="30" height="30"></iconify-icon>Guide
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
