<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MealPlannerUI</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="addproduct">
                <span class="oi oi-plus" aria-hidden="true"></span> Add product to db
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="findproduct">
                <iconify-icon icon="mdi:magnify" width="30" height="30"></iconify-icon>Find product
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="allproducts">
                <span class="oi oi-list" aria-hidden="true"></span> All Products Info
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="createcustommeal">
                <iconify-icon icon="game-icons:meal" width="30" height="30"></iconify-icon>Create meal
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="underconstruction">
                <iconify-icon icon="material-symbols:construction" width="30" height="30"></iconify-icon>Show meals for today
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
