@using System.Reflection

@page "/underconstruction"
<h2>Page under construction</h2>

<img src="@imagePath" alt="Where is image?" width="800" height="600" />
<br />
<br />
<br />
<br />
<br />
Image source:<br />
<textarea>@imagePath</textarea>



@code {
    //string imagePath = Environment.CurrentDirectory + "\\R.jpg";
    string imagePath = "https://th.bing.com/th/id/R.62a77100a4823b06dbfa357fe75950d6?rik=%2b6zN7kvG50%2bQ8w&riu=http%3a%2f%2fn-media.net%2fwp-content%2fuploads%2f2013%2f05%2fWeb-under-construction.jpeg&ehk=eRatuaEZi80CVsmLSbxv9x6WZF9ioM9SVAqHjzeZniE%3d&risl=&pid=ImgRaw&r=0";

}
