@using System.Reflection

@page "/underconstruction"
<h2>Page under construction</h2>
<p>Here will be something</p>

<img src="@imagePath" alt="Where is image?" width="800" height="600" />
<br />
<br />
<br />
<br />
<br />
<textarea>@imagePath</textarea>



@code {
    string imagePath = Environment.CurrentDirectory + "\\R.jpg";
    
}
