@page "/addproduct"
@using MealPlannerUI.Data
@inject ProductService AddNewProduct

<PageTitle>Add product</PageTitle>

<h1>Add product</h1>

<p>Add product to database</p>

    <table class="table">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Fat</th>
                <th>Carbohydrates</th>
                <th>Proteins</th>
                <th>Energy</th>
            </tr>
        </thead>
        <tbody>
                <tr>
            <td><input type="text" name="ProductName" @bind="productNameLocal" /></td>
                    <td><input type="number" name="Fat" @bind="fat" /></td>
                    <td><input type="number" name="Carbohydrates" @bind="carbs"/></td>
                    <td><input type="number" name="Proteins" @bind="prots"/></td>
                    <td><input type="number" name="Energy" @bind="nrg"/></td>
                </tr>
        </tbody>
    </table>
<button class="btn btn-primary" @onclick="AddProductToDb">Add product do database</button>
<Popup @ref="popupRef" />


@code {
    private string productNameLocal;
    private double fat;
    private double carbs;
    private double prots;
    private double nrg;

    private void AddProductToDb()
    {
        AddNewProduct.AddProductToDb(productNameLocal, fat, carbs, prots, nrg);
        productNameLocal = null;
        fat = 0.0;
        carbs = 0.0;
        prots = 0.0;
        nrg = 0.0;

        ShowPopup();
    }

    private Popup popupRef;
    private void ShowPopup()
    {
        popupRef.Show("Product added succesfully");
    }
}
